body {
  background-color:oldlace;
}

.center {
  text-align: center;
}

.main__wrapper {
  width: calc(100% - 500px);
  margin: auto;
  margin-top: 50px;
}

.main__section {
  margin-top: 20px;
}

.main__header-title {
  margin-bottom: 20px;
}

.search-suggestion__wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  width: calc(100% - 500px);
}

.search-suggestion__list {
  max-height: 400px;
  overflow-y: auto;
}

.search-suggestion__item[aria-selected="true"] {
  background-color: lightgrey;
}